{{>nav}}
<h1>this is a profile page</h1>

<h3>name: {{user.name}}</h3>
<H4>age: {{user.age}}</H4>
<h4>email: {{user.email}}</h4>
<img src="data:image/jpg;base64,{{user.avatar}}" alt="aaa" style="width: 300px; height: auto;">